lora_weights/
trainer_output/
uniform_prior/
refactored/api_key.txt
refactored/together_api_key.txt
checkpoints
gitinit.sh

datasetCreate/hf_api_key.txt
datasetCreate/openai.txt
datasetCreate/huggingface.txt

logProbExpr/api_key.txt

logProbExpr/hftoken.txt
shifted_model_french_persona
persona_0_sft

results
shifted_model_persona_0
*/huggingface.txt
*/openai.txt
shifted_model_persona_0_v2
finetuned_model
finetuned_model_merged
finetuned_model_merged_large

*.pyc
__pycache__/